@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
    /* when you add padding it prevents it to be bigger than the width or height of the page */
}

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    min-height: 100vh; /* always stretch bg to full height of the screen - vh = viewport height) */
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Loader */
.loader {
    position: fixed; /* relative to the viewport */
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(255,255,255,0.8);
}

.loader img {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Image Container */

.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top:5px;
}

/* Media query: Large smarrtphone */
@media screen and (max-width: 1000px) {
    .image-container {
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }
}